@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;800;900&display=swap");
/* Global */
* {
  box-sizing: border-box;
}
*:focus {
  outline: 2px dotted #7296ec;
  outline-offset: 2px;
}
html{
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* Container */
.container {
  max-width: 1300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 50px;
}
/* header */
.site-header {

}
.site-header-top {
  background: #f6f6f6;
  padding: 30px 0;
}
.site-header_container {
  display: flex;
  align-items: center;
}

.site-logo {
  display: flex;
  background: #ffff;
  padding: 8px 6px;
  border-radius: 7px;
  margin-right: 35px;
  transition: 0.5s;
}
.site-logo:hover{
  opacity: 0.8;
}
.site-logo:active{
  opacity: 0.6;
}
/* .site-logo-image {
} */
.currency {
  margin-right: auto;
}
.currency-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.currency-item:not(:last-child) {
  margin-right: 25px;
}
.currency-icon {
  color:#2959ce;
}
/* gloal search */
.global-search {
  margin-right: 25px;
}
.global-search-input {
  background: #fff;
  border-radius: 60px;
  border:none;
  padding: 15px 20px 15px 41px;
  font-size: 14px;
}
/* .currency-value {
} */
.language-toggle {
  display: flex;
  background: #dce6ff;
  padding: 5px;
  border-radius: 39px;
  margin-right: 25px;
  font-size: 13px;
}
.language-toggle-link {
 height: 30px;
 width: 30px;
 color:#a6a6a6; 
 text-decoration: none;
 align-items: center;
 line-height: 30px;
}
.language-toggle-active {
  background-color: #fff;
  color:#000;
  border-radius: 50%;
}
.main-button {
  border-radius: 10px;
  color:#fff;
  padding: 13px 20px;
  text-decoration: none;
  line-height: normal;
  transition: 0.5s;
}
.main-button:hover{
  opacity: 0.8;
}
.main-button:active{
  opacity: 0.6;
}
.button-primary {
  background-color: #7296ec;
}